# next.js
.next/*
dist/*
out/*

# next-pwa
**/public/workbox-*
**/public/sw.*
**/public/worker-*
**/public/fallback-*

# storybook
storybook-static/*

# dependencies
node_modules/*
package.json
yarn.lock

# other
README.md
.babelrc
.eslintrc
.gitignore