# next.js
.next/*
dist/*

# next-pwa
**/public/workbox-*.js
**/public/sw.js
**/public/worker-*.js
**/public/fallback-*.js

# dependencies
node_modules/*
package.json
yarn.lock

# other
README.md
.babelrc
.eslintrc
.gitignore